# Packer
packer/output/
output/
*.iso

# Audit Reports
*.json

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/crash.log
terraform/crash.*.log
# Terraform Generated SSH Keys
terraform/id_ed25519
terraform/id_ed25519.pub

# Ansible
ansible/inventory/hosts
*.retry

# Secrets & Passwords (NEVER COMMIT)
*.pass
*.pem
*.key
vaultpass.txt
vault_pass
.vault_pass

*.pdf