{{ file_managed_by_ansible }}

# CIS Configurations

[Coredump]
{% if rhel10cis_rule_1_5_9 %}
# CIS Control 1.5.9 - ProcessSizeMax
ProcessSizeMax=0
{% endif %}
{% if rhel10cis_rule_1_5_10 %}
# CIS Control 1.5.10 - Storage
Storage=none
{% endif %}
