server {
    listen 80;
    server_name _;

    location / {
        proxy_pass http://{{ hostvars['web-node-2']['ansible_host'] }}:{{ app_internal_port | default(8000) }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    location /health {
        proxy_pass http://{{ hostvars['web-node-2']['ansible_host'] }}:{{ app_internal_port | default(8000) }}/health;

        # Custom header for the healthcheck:
        add_header X-Backend-Server "{{ hostvars['web-node-2']['inventory_hostname'] }} ({{ hostvars['web-node-2']['ansible_host'] }})";
    }
}