{{ file_managed_by_ansible }}

# This template will set all of the auditd configurations via a handler in the role in one task instead of individually
{% if rhel10cis_rule_6_3_3_35 %}
# Continue to load rules even if there is an error
-c
{% endif %}
