{{ file_managed_by_ansible }}

# This template will set all of the auditd configurations via a handler in the role in one task instead of individually
{% if rhel10cis_rule_6_3_3_12 %}
-a always,exit -F arch=b64 -S all -F path=/etc/group -F perm=wa -F key=identity
{% endif %}
{% if rhel10cis_rule_6_3_3_13 %}
-a always,exit -F arch=b64 -S all -F path=/etc/passwd -F perm=wa -F key=identity
{% endif %}
{% if rhel10cis_rule_6_3_3_14 %}
-a always,exit -F arch=b64 -S all -F path=/etc/gshadow -F perm=wa -F key=identity
-a always,exit -F arch=b64 -S all -F path=/etc/shadow -F perm=wa -F key=identity
{% endif %}
{% if rhel10cis_rule_6_3_3_15 %}
-a always,exit -F arch=b64 -S all -F path=/etc/security/opasswd -F perm=wa -F key=identity
{% endif %}
{% if rhel10cis_rule_6_3_3_16 %}
-a always,exit -F arch=b64 -S all -F path=/etc/nsswitch.conf -F perm=wa -F key=identity
{% endif %}
{% if rhel10cis_rule_6_3_3_17 %}
-a always,exit -F arch=b64 -S all -F path=/etc/pam.conf -F perm=wa -F key=identity
-a always,exit -F arch=b64 -S all -F dir=/etc/pam.d -F perm=wa -F key=identity
{% endif %}
