{{ file_managed_by_ansible }}

# This template will set all of the auditd configurations via a handler in the role in one task instead of individually
{% if rhel10cis_rule_6_3_3_26 %}
-a always,exit -F arch=b64 -S all -F path=/etc/selinux -F perm=wa -F key=MAC-policy
-a always,exit -F arch=b64 -S all -F path=/usr/share/selinux -F perm=wa -F key=MAC-policy
{% endif %}
