{{ file_managed_by_ansible }}

# This template will set all of the auditd configurations via a handler in the role in one task instead of individually
{% if rhel10cis_rule_6_3_3_30 %}
-a always,exit -F path=/usr/sbin/usermod -F perm=x -F auid>={{ prelim_min_int_uid }} -F auid!=unset -k usermod
{% endif %}
