{{ file_managed_by_ansible }}

# This template will set all of the auditd configurations via a handler in the role in one task instead of individually

{% if rhel10cis_rule_6_3_3_36 %}
# Make changes immutable - can't be changed without a system restart
-e 2
{% endif %}
