{{ file_managed_by_ansible }}

# This template will set all of the auditd configurations via a handler in the role in one task instead of individually
{% if rhel10cis_rule_6_3_3_31 %}
-a always,exit -F arch=b64 -S all -F path=/usr/bin/kmod -F perm=x -F auid>={{ prelim_min_int_uid }} -F auid!=unset -k kernel_modules
{% endif %}
{% if rhel10cis_rule_6_3_3_32 %}
{% set syscalls = ["init_module","finit_module"] %}
{% set arch_syscalls = syscalls | select("in", supported_syscalls) | list %}
-a always,exit -F arch=b64 -S {{ arch_syscalls|join(',') }} -F auid>={{ prelim_min_int_uid }} -F auid!=unset -k kernel_modules
{% endif %}
{% if rhel10cis_rule_6_3_3_33 %}
-a always,exit -F arch=b64 -S delete_module -F auid>={{ prelim_min_int_uid }} -F auid!=unset -k kernel_modules
{% endif %}
{% if rhel10cis_rule_6_3_3_34 %}
-a always,exit -F arch=b64 -S query_module -F auid>={{ prelim_min_int_uid }} -F auid!=unset -k kernel_modules
{% endif %}
