{{ file_managed_by_ansible }}

# This template will set all of the auditd configurations via a handler in the role in one task instead of individually
{% if rhel10cis_rule_6_3_3_4 %}
{% set syscalls = ["adjtimex","settimeofday"]  %}
{% set arch_syscalls = syscalls | select("in", supported_syscalls) | list %}
-a always,exit -F arch=b64 -S {{ arch_syscalls|join(',') }} -F key=time-change
{% set syscalls = ["clock_settime"] %}
{% set arch_syscalls = syscalls | select("in", supported_syscalls) | list %}
-a always,exit -F arch=b64 -S {{ arch_syscalls|join(',') }} -F a0=0x0 -F key=time-change
-w /etc/localtime -p wa -k time-change
{% endif %}
