# Basic System Settings
lang en_US.UTF-8
keyboard us
timezone Asia/Manila --utc
rootpw --plaintext --allow-ssh "Buns123#"
network --bootproto=dhcp --device=link --activate
services --enabled="sshd"
text
url --url="https://repo.almalinux.org/almalinux/10/BaseOS/x86_64/os/"
repo --name="AppStream" --baseurl="https://repo.almalinux.org/almalinux/10/AppStream/x86_64/os/"
zerombr
clearpart --all --initlabel
reboot

# ==========================================
# Storage & LVM Setup
# ==========================================
# 20G disk layout for Pair B
# Standard boot partitions (UEFI uses /boot/efi)
part /boot/efi --fstype="efi" --size=500
part /boot --fstype="xfs" --size=1024

# LVM Setup - PV and VG
part pv.01 --size=1000 --grow
volgroup vg_sys_b pv.01

# LVs for Pair B constraints
logvol swap            --vgname=vg_sys_b --name=swap       --size=2048
logvol /var            --vgname=vg_sys_b --name=var        --size=4000
logvol /var/log        --vgname=vg_sys_b --name=var_log    --size=1000
logvol /var/log/audit  --vgname=vg_sys_b --name=var_audit  --size=1000
logvol /var/tmp        --vgname=vg_sys_b --name=var_tmp    --size=1000
logvol /srv            --vgname=vg_sys_b --name=lv_srv     --size=2000
logvol /               --vgname=vg_sys_b --name=root       --size=4000 --grow

# ==========================================
# Software Configuration
# ==========================================
%packages
@core
cloud-init
qemu-guest-agent
%end
