{{ file_managed_by_ansible }}

# This is a subpolicy to disable weak ciphers
# for the SSH protocol (libssh and OpenSSH)
# Carried out as part of CIS Benchmark rule 5.1.6
{% if rhel10cis_rule_5_1_4 %}cipher@SSH = -3DES-CBC -AES-128-CBC -AES-192-CBC -AES-256-CBC{% endif %}
