{{ file_managed_by_ansible }}

[Upload]
URL={{ rhel10cis_journal_upload_url }}
ServerKeyFile={{ rhel10cis_journal_upload_serverkeyfile }}
ServerCertificateFile={{ rhel10cis_journal_servercertificatefile }}
TrustedCertificateFile={{ rhel10cis_journal_trustedcertificatefile }}
