<!DOCTYPE html>
<html>
<head>
    <title>{{ company_name }} Website</title>
</head>
<body>
    <h1>Welcome to {{ company_name }}!</h1>
    <p>Server Hostname: {{ inventory_hostname }}</p>
    <p>Application Port: {{ app_port }}</p>
    <p>Installed Package: {{ web_package }}</p>
</body>
</html>
